* {
  margin: 0;
  padding: 0;
}
body {
  background: #eceff3;
  color: #353849;
}

.rounded-img{
  border-radius: 9999px;
  margin-bottom: -5px;
}

/* .has-tooltip {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.75) !important;
  color: white !important;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: calc(100% + 10px) !important;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.75) transparent transparent transparent;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(10px); /* Adjust Y translation for arrow height */
} */
